.white{
	color: #fff;
}

.blue{
	color: #2DAAE1;
}

.background-blue{
	background-color: #2DAAE1;
}

.pink{
	color: #E82369;
}

.background-pink{
	background-color: #E82369;
}

.seafoam{
	color: #6CC8C7;
}

.background-seafoam{
	background-color: #6CC8C7;
}

.yellow{
	color: #FDC113;
}

.background-yellow{
	background-color: #FDC113;
}

.purple{
	color: #B933D8;
}

.background-purple{
	background-color: #B933D8;
}
