*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100%;
}

.container{
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.row{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
